#index {
  flex: 1;
  padding: 5rem 10rem;
  display: flex;
  justify-content: center;
}

#index::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

#index::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../assets/dota-2-templar-assassin-min.jpg");
  background-size: cover;
  background-position: 50%;
  opacity: 0.8;
  z-index: -2;
}

#index > div {
  width: 80%;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#index form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max(350px, 90%);
  align-items: center;
}

#index .input-wrapper {
  width: 100%;
  position: relative;
}

#index input {
  padding: 0.5rem 0.8rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 1rem;
  font-size: inherit;
  color: var(--light);
  background-color: var(--dark-alpha);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
  outline: none;
}

#index input:focus {
  outline: 2px solid rgba(204, 204, 204, 0.5);
}

#index .btn-wrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

a#index-shop {
  text-decoration: none;
  width: min-content;
}

#index .filtered-list {
  position: absolute;
  width: 100%;
  background-color: var(--dark-alpha);
  padding: 0.5rem 0.8rem;
  list-style: none;
  top: calc(100% + 2px);
  outline: 2px solid rgba(204, 204, 204, 0.5);
  border-top: 0px solid transparent;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#index .filtered-list a {
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  color: var(--light);
}

#index .filtered-list a:visited {
  color: var(--light);
}

#index .filtered-list a:hover {
  background-color: rgba(0, 0, 0, 0.61);
}

#index input.active-list {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#index input.error {
  position: relative;
  outline: 2px solid var(--error);
}

#index form::after {
  position: absolute;
  content: "Search can't be empty.";
  padding: 0.5rem 1rem;
  background-color: #0c0a09;
  border-radius: 1rem;
  color: var(--error);
  font-size: inherit;
  left: 0;
  bottom: 110%;

  opacity: 0;
  transition: all 0.1s ease-in-out;
}

#index form.error::after {
  opacity: 1;
}
