@import url("./filters.css");
@import url("./items.css");
@import url("./page-buttons.css");

#shop {
  background-color: var(--dark);
  flex: 1;
  font-size: min(20px, 1rem);
}

#shop-container {
  padding: 1rem 2rem;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 900px) {
  #shop-container {
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
  }
}
