@import url("./reset.css");

:root {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --light-text: #e5e5e5;
  --secondary-color: "";
  --gradient-gray80: #2c3338;
  --gradient-gray90: #1d2327;
  --gradient-gray100: #101517;
  --font-lg: 22px;
  --font-md: 18px;
  --font-sm: 14px;
  color: var(--light-text);
  font-size: var(--font-lg);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1400px) {
  :root {
    font-size: var(--font-md);
  }
}

@media screen and (max-width: 900px) {
  :root {
    font-size: var(--font-sm);
  }
}
